{% extends 'index.html' %}

{% block content %}
<h1>
    {% if mode == 'new' %}
    Create new book
    {% elif mode == 'edit' %}
    Update book
    {% endif %}
</h1>

{% if msg %}

<p class="alert alert-success"> {{msg}} </p>
{% endif %}

<form id="form" action="{{action}}" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div>
        <label for="">{{field.label}}</label>
        {{field}}
        {% if field.errors %}
        {% for e in field.errors %}
        <p style="color:red"> {{ e }} </p>
        {% endfor %}
        {% endif %}
    </div>

    {% endfor %}
    <button class="btn btn-success" name="x">Save</button>
    <button class="btn btn-success" name="y">Save1</button>
</form>


<script>
    let n = null;
    let undef = undefined;
    let a = 5;
    let b = 56.6;
    let c = 'asdasd';
    let d = true;
    let list = [1, 2, 3, 4, 5, 'asdasd', 'asdasd', true];
    let dict = {
        'key': 123,
        2: 4,
        'list': [1, 2, 3],
        'dict': {
            'a': 1
        }
    }

    let form = document.getElementById('form');
    form.addEventListener('submit', function (e) {
        let c = confirm('???????');
        if (c != true) {
            e.preventDefault();
        }
    })



</script>
{% endblock %}