{% extends 'index.html' %}

{% block content  %}
<h1>Manage books</h1>


<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Has Sale?</th>
        <th scope="col">Price</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for book in books %}
    <tr>
        <th scope="row">{{ forloop.counter }} <b>{{book.id}}</b></th>
        <td>{{book.title}}</td>
        <td>
            {% if book.is_sale %}
            <p class="alert alert-success">Yes <b>- {{ book.percent_sale }}% </b></p>
            {% else %}
            No
            {% endif %}
        </td>
        <td>
            {{ book.get_new_price }} $
        </td>
        <td>
            <a class="btn btn-info" href="/update-book/{{book.id}}">update</a>
            <a class="btn btn-danger js-delete" data-book_id="{{ book.id }}" href="/delete-book/{{book.id}}"> delete
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content  %}

{% block js %}
<script>

    $('.js-delete').click(function (event) {
        event.preventDefault();
        let book_id = $(this).attr('data-book_id');
        let btn = $(this);
        $(btn).text('Wait...');
        $(btn).removeClass('btn-danger');
        $(btn).addClass('btn-warning');
        setTimeout(function () {
            $.ajax({
                method: 'GET',
                url: '/ajax-delete-book/',
                data: {
                    'id': book_id
                }
            }).done(function (response) {
                if (response.status) {
                    btn.closest('tr').remove();
                }
            })
        }, 1500)

    })


</script>
{% endblock %}

