<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Detail book!</h1>

<a href="/">Go to home page</a>

<div>
    <h3>Title - {{current_book.title}}</h3>
    <p>description - {{current_book.description}}</p>
    {% if current_book.is_sale %}
        <span style="color:red; font-size: 24px">{{ current_book.price }} $</span>
        <span style="color:green; font-size: 32px"> {{ current_book.get_new_price }} $</span>
    {% else %}
        <span style="color:green; font-size: 24px">{{ current_book.price }}</span>
    {% endif %}
    <p>percent_sale - {{current_book.percent_sale}}%</p>
    <p>genre - {{current_book.genre}}</p>
</div>

</body>
</html>