{% extends 'index.html' %}

{% block content %}
<!--type="text" <input type="text"> <br>-->
<!--type="password" <input type="password"> <br>-->

<!--type="search" <input type="search"> <br>-->

<!--<input type="hidden">-->

<!--textarea <textarea name="" id="" cols="30" rows="10">-->


<!--</textarea> <br>-->

<!--type="checkbox"<input type="checkbox" checked> <br>-->

<!--<p>type='radio'</p>-->
<!--1<input type="radio" name="radio_btn" value="1">-->
<!--2<input type="radio" name="radio_btn" value="2">-->
<!--3<input type="radio" name="radio_btn" value="3">-->
<!--4<input type="radio" name="radio_btn" value="4">-->
<!--5<input type="radio" name="radio_btn" value="5">-->
<!--<br>-->
<!--type="number"<input type="number"> <br>-->

<!--select <select name="" id="">-->
<!--    <option value="1">soa sjdh asjdh</option>-->
<!--    <option value="2">Lorem ipsum.</option>-->
<!--    <option value="3">Lorem ipsum dolor.</option>-->

<!--</select>-->
<!--<br>-->
<!--select multiple <select name="" multiple id="">-->
<!--    <option value="1">soa sjdh asjdh</option>-->
<!--    <option value="2">Lorem ipsum.</option>-->
<!--    <option value="3">Lorem ipsum dolor.</option>-->
<!--</select>-->
<!--<br>-->

<!-- type="range" <input type="range" min="0" max="100" step="50">-->
<!--type="color" <input type="color">-->
<!--<input type="button" value="Submit">-->

<!--&lt;!&ndash; asdasd &ndash;&gt;-->


<!--www.google.com/?login=admin&username=asdasd-->

<div class="container">
<form>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">First number</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" name="first_number" value="{{ params.first_number }}" id="inputEmail3">
    </div>
  </div>
    <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
      <div class="col-sm-10">
          {% for oper in operations %}
        <div class="form-check">
          <input class="form-check-input" type="radio" name="operation" id="gridRadios1" value="{{oper}}" {% if oper == params.operation %} checked {% endif %}>
          <label class="form-check-label" for="gridRadios1">
              {{oper}}
          </label>
        </div>
          {% endfor %}

      </div>
    </div>
  </fieldset>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Second number</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="inputPassword3" name="second_number" value="{{ params.second_number }}">
    </div>
  </div>
{% if result %}
    = {{ result }}
    {% endif %}

    {% if error %}
    = <span style="color: red">{{ error }}</span>
    {% endif %}
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Calculate</button>
    </div>
  </div>
</form>

<!--<form action="">-->
<!--    <input type="number" >-->
<!--    {% for oper in operations %}-->
<!--    {{ oper }} <input type="radio" name="operation" value="{{ oper }}" >-->
<!--    {% endfor %}-->
<!--    <input type="number" name="second_number" value="{{ params.second_number }}">-->

<!--    <input type="submit" value="Calculate">-->
<!--</form>-->


<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
    </tr>
    </tbody>
</table>

</div>
<h1>FLEX!!</h1>


<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12" style="border: 1px solid red;">col-md-3</div>
    <div class="col-md-2 col-sm-6 col-xs-12" style="border: 1px solid green;">col-md-2</div>
    <div class="col-md-4 col-sm-6 col-xs-12" style="border: 1px solid #1052a5;">col-md-4</div>
    <div class="col-md-1 col-sm-6 col-xs-12" style="border: 1px solid #64d467;">col-md-1</div>
    <div class="col-md-1 col-sm-6 col-xs-12" style="border: 1px solid #64d467;">col-md-1</div>
    <div class="col-md-1 col-sm-6 col-xs-12 " style="border: 1px solid #64d467;">col-md-1</div>

    <div class="col-md-6" style="border: 1px solid #1f0726;">col-md-6</div>
    <div class="col-md-6" style="border: 1px solid #1f0726;">col-md-6</div>
    <div class="col-md-11" style="border: 1px solid #c989d9;">col-md-11</div>
    <div class="col-md-1" style="border: 1px solid #200924;">col-md-1</div>
</div>

{% endblock %}