<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if active_tab == 'home'%} active {% endif %}">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if active_tab == 'examples'%} active {% endif %}">
        <a class="nav-link" href="/examples/">Examples</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about-us/">About</a>
      </li>
      <li class="nav-item  {% if active_tab == 'create_book'%} active {% endif %}">
        <a class="nav-link" href="/create-book/">Create book</a>
      </li><li class="nav-item  {% if active_tab == 'manage_books'%} active {% endif %}">
        <a class="nav-link" href="/manage-books/">Manage books</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/generate-books/" method="post">
      {% csrf_token %}
      <input class="form-control mr-sm-2" name="count" type="number" placeholder="count" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">generate</button>
    </form>
  </div>
</nav>