{% extends 'index.html' %}

{% block content %}
<table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Has Sale?</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{book.title}}</td>
            <td>
                {% if book.is_sale %}
                <p class="alert alert-success">Yes <b>- {{ book.percent_sale }}% </b> </p>
                {% else %}
                No
                {% endif %}
            </td>
            <td>
                <a class="btn btn-info" href="/book-detail/{{book.id}}">More info...</a>
                <a class="btn btn-dark" href="">To bucket</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}